nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  height: 100px;
  width:100% ;
  background-color: #f58c80;
  background-image: url("../images/header-background.png");
  color: #FFFFFF;
  position: fixed;
}

nav span.angle-double-down-arrow {
  color: red;
}

nav span.write-a-tweet {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

nav span.tweeter {
  font-family:'Bungee', sans-serif;
  margin: 0 1.5em;
  font-size: larger;
}

nav div {
  margin: 0 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}