main section h2{
  text-align: center;
  font-style: italic;
}

main section.new-tweet  {
  display: flex;
  flex-direction: column;
} 

main div.tweet-form-top {
  display: flex;
  flex-direction: column;
  border-bottom: solid;
  font-weight: bold;
}

main #tweet-text {
  padding-top: 2.5em;
  background: transparent;
  border: none;
  outline: none;
  height: 4em;  
  margin-top: 2em;
}

::placeholder {
  font-weight: bold;
}

main div.tweet-button-bottom {
  font-family:'Bungee', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: .75em;  
}

main div.tweet-button-bottom button {
  background-color: #405fa1;
  color: #FFFFFF;
  border-radius: 4px;
}

section.new-tweet .error-msg {
  font-size: 20px;
  color: #ea3535d9;
  display: none;
}

section.new-tweet .error-msg i {
  color: #f55252d9;
  padding: 0 0.35em;
}
