header {
  background-color: #f58c80;
  background-image: url("../images/header-background.png");
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-end;
  height: 525px;
  width: 100%;
}
