body > header {
  border-radius: 3px;
  background-color: #f58c80;
  background-image: url("../images/header-background.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 400px;
  width: 100%;
}

header img.profile-pic {
  width: 200px;
}
header div.profile-name h2 {
  margin-top: 0;
}
